*{
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: rgba(0,0,0,.75);
	font-family: sans-serif;
}
#chartDiv{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.domain {
	display: none;
}
.tick line {
	stroke: #C0C0BB;
}
.tick text, .legendCells text {
	fill: #8E8883;
	font-size: 28pt;
	font-family: sans-serif;
}
.axis-label, .legend-label {
	fill: #635F5D;
	font-size: 20pt;
	font-family: sans-serif;
}

.pieLegend .legendCells text{
	font-size: 20px;
}

#chartDiv{
	position: relative;
	height:1200px;
}

p, h1, h2{
	color: #8E8883;
}

h1, h2{
	margin:0 45px;
	text-align: center;
}

h1{
	font-size: 2.5em;
}

h2{
	font-size: 1.5em;
}

p{
	margin: 25px;
	font-size: 1.25em;
}

.tick text {
	fill: #8E8883;
	font-size: 3em;
	font-family: sans-serif;
}

.toolTip {
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 rgba(255,255,255,.7);
	padding: 14px;
	text-align: center;
	font-size: 2em;
	font-family: sans-serif;
}

.sortBox{
	line-height: 25px;
	position: relative;
	z-index: 100;
	width: auto;
	display: block;
	text-align: center;
	color: white;
}

label{
	font-size: 3em;
	cursor: pointer;
	margin: 25px 0 0 0 ;
}

.axis-label{
	fill: white;
}

a{
	color:#8E8883;
}

input[type=checkbox] {
	transform: scale(5);
}

@media only screen and (min-width: 400px){
	input[type=checkbox] {
	  transform: scale(1);
	}
	#chartDiv{
	  height:750px;
	}
	label{
	  font-size: 1.5em;
	}
}